@import "../variables";

.choice {
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $black;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__value {
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 2px solid $border-color;

    &--checked {
      border-color: $teal-color;
    }
  }

  &__add {
    display: block;
    color: $white;
    border-color: $teal-color;
    background-color: $teal-color;
    margin-top: 50px;
  }
}
