@import "../variables";

.form {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.form__text {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 13px;
}

.form__type,
.form__color,
.form__name,
.form__phone,
.form__email,
.form__addition {
  padding: 0 0 32px;
  margin-right: 0;
  margin-left: 0;
  border: none;

  & p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form__type-title,
.form__color-title,
.form__name-title,
.form__phone-title,
.form__email-title,
.form__addition-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $accent-color;

  &::after {
    flex-grow: 1;
    content: "";
    margin-left: 25px;
    border-top: 1px solid $accent-color;
  }
}

.form__type-label {
  padding-top: 12px;
  padding-bottom: 12px;
}

.form__type-label,
.form__color-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 62px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $main-text;
}

.form__type-label::before,
.form__color-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid $minor-text;
}

.form__type-label::before {
  border-radius: 50%;
}

.form__type-label:active::before,
.form__type-radio:checked + .form__type-label::before,
.form__color-label:active::before,
.form__color-checkbox:checked + .form__color-label::before {
  border-color: #c7c7c7;
}

.form__type-radio:checked + label::after {
  left: 11px;
  width: 16px;
  height: 16px;
  border: 2px solid $accent-color;
  border-radius: 50%;
  background-color: $accent-color;
}

.form__type-radio:checked + label::after,
.form__color-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 15px;
}

.form__type-radio:hover + .form__type-label::before,
.form__type-radio:focus + .form__type-label::before,
.form__color-checkbox:hover + .form__color-label::before,
.form__color-checkbox:focus + .form__color-label::before {
  outline: 1px solid $accent-color;
  border-color: $accent-color;
}

.form__color-title {
  margin-bottom: 21px;
}

.form__color-label {
  padding-top: 15px;
  padding-bottom: 28px;
}

.form__color p:last-child label {
  padding-bottom: 10px;
}

.form__color-label::before {
  width: 40px;
  height: 40px;
}

.form__color-checkbox:checked + label::after {
  left: 8px;
  width: 23px;
  height: 16px;
  background: 0 0 url("../img/icon-tick.svg") no-repeat;
  background-size: contain;
}

.form__name {
  padding-bottom: 28px;
}

.form__name-title {
  margin-bottom: 29px;
}

.form__name p {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 5px;
  }
}

.form__name-label {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $main-text;
}

.form__name-field {
  padding-top: 6px;
  padding-bottom: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $main-text;
  color: $minor-text;

  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 18px;
  }
}

.form__name-field:hover,
.form__name-field:focus,
.form__name-field:active {
  border-color: $accent-color;
}

.form__phone-wrapper,
.form__email-wrapper {
  position: relative;
  margin-bottom: 18px;
}

.form__phone {
  padding-bottom: 32px;

  & svg {
    position: absolute;
    top: 35px;
    right: 8px;
    opacity: 0.2;
  }
}

.form__phone-title,
.form__email-title {
  margin-bottom: 18px;
}

.form__phone-field,
.form__email-field {
  color: $main-text;
  width: 100%;
  padding-top: 5px;
  padding-right: 40px;
  padding-bottom: 16px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid $main-text;
  background-color: transparent;
}

.form__phone-field::placeholder {
  opacity: 0.3;
  font-size: 19px;
  line-height: 18px;
}

.form__phone-field:hover,
.form__phone-field:focus,
.form__email-field:hover,
.form__email-field:focus,
.form__phone-field:active,
.form__email-field:active {
  border-bottom-color: $accent-color;
}

.form__phone-field:hover + svg,
.form__phone-field:focus + svg,
.form__email-field:hover + svg,
.form__email-field:focus + svg,
.form__phone-field:active + svg,
.form__email-field:active + svg {
  fill: $accent-color;
  opacity: 1;
}

.form__email {
  padding-bottom: 34px;

  & svg {
    opacity: 0.2;
    position: absolute;
    top: 35px;
    right: 7px;
  }
}

.form__email-field::placeholder {
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;
}

.form__addition {
  padding-bottom: 10px;
}

.form__addition-field {
  width: 100%;
  min-height: 144px;
  padding: 15px;
  color: $main-text;
  border: 2px solid $minor-text;

  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 18px;
  }
}

.form__addition-field:hover,
.form__addition-field:focus,
.form__addition-field:active {
  border-color: $accent-color;
}

.form__elaboration {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  width: 100%;
  margin-bottom: 53px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 65px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__text {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__type {
    display: flex;
    padding: 33px 50px 30px 50px;

    & p {
      margin-bottom: 26px;
    }
  }

  .form__type-wrapper {
    width: 75%;
  }

  .form__type-title,
  .form__color-title,
  .form__name-title,
  .form__phone-title,
  .form__email-title,
  .form__addition-title {
    align-items: stretch;
    width: 25%;
    margin-top: 15px;

    &::after {
      display: none;
    }
  }

  .form__type-label {
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;

    &::before {
      top: 0;
      left: 0;
      width: 52px;
      height: 52px;
    }
  }

  .form__type-radio:checked + label::after {
    left: 15px;
    width: 22px;
    height: 22px;
  }

  .form__color {
    display: flex;
    padding: 49px 20px 27px 50px;
    background-color: $complementary-background;
  }

  .form__color-wrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;

    & p {
      width: 50%;
      margin-bottom: 26px;
    }
  }

  .form__color-title {
    width: 24%;

    &::after {
      display: none;
    }
  }

  .form__color-label {
    padding-left: 80px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 19px;

    &::before {
      top: 0;
      left: 0;
      width: 54px;
      height: 53px;
    }
  }

  .form__color-checkbox:checked + label::after {
    left: 11px;
    width: 33px;
    height: 22px;
  }

  .form__name {
    display: flex;
    padding: 55px 50px 45px 50px;

    & p {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .form__name-title {
    width: 25%;

    &::after {
      display: none;
    }
  }

  .form__name-wrapper {
    width: 75%;
  }

  .form__name-label {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 25px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__name-field {
    min-height: 46px; //для FF
    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-bottom: 12px;
    font-size: 19px;
    line-height: 18px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form__phone {
    padding: 55px 50px 0 50px;
    background-color: $complementary-background;
  }

  .form__phone-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 0;

    & svg {
      position: absolute;
      top: 5px;
      right: 25px;
    }
  }

  .form__phone-title,
  .form__email-title {
    width: 25%;
  }

  .form__phone-field {
    width: 75%;
    padding-left: 15px;
    padding-right: 60px;
  }

  .form__email {
    position: relative;
    padding: 25px 50px 50px 50px;
    background-color: $complementary-background;

    & svg {
      top: 35px;
      right: 75px;
    }
  }

  .form__email-wrapper {
    position: relative;
    display: flex;

    & svg {
      position: absolute;
      top: 10px;
      right: 25px;
    }
  }

  .form__email-field {
    width: 75%;
    padding-left: 17px;
    padding-right: 60px;
    font-size: 19px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form__addition {
    display: flex;
    padding: 50px 50px 50px 50px;
  }

  .form__addition-title {
    width: 25%;
  }

  .form__addition-field {
    width: 75%;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
  }

  .form__elaboration {
    width: 60%;
    font-size: 17px;
    line-height: 30px;
    padding-top: 10px;
    text-align: right;
  }

  .form__button {
    width: 35%;
    height: 52px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 122px;
  }

  .form__text {
    width: 61%;
    margin-left: auto;
    margin-right: auto;
  }

  .form__type,
  .form__color,
  .form__name,
  .form__phone,
  .form__email,
  .form__addition {
    padding-left: 112px;
  }

  .form__type,
  .form__color {
    padding-right: 50px;
  }

  .form__name,
  .form__phone,
  .form__email,
  .form__addition {
    padding-right: 225px;
  }

  .form__type-title {
    width: 10%;
    margin-right: 14px;
    overflow: hidden;
  }

  .form__color-title {
    width: 11%;
    margin-right: 14px;
    overflow: hidden;
  }

  .form__color-wrapper {
    width: 100%;

    & p {
      width: 30%;
    }
  }

  .form__name-title {
    width: 12%;
    margin-right: 15px;
    overflow: hidden;
  }

  .form__phone {
    padding-top: 55px;

    & svg {
      right: 5px;
    }
  }

  .form__phone-title,
  .form__email-title {
    width: 15%;
    margin-right: 14px;
    overflow: hidden;
  }

  .form__phone-field,
  .form__email-field,
  .form__addition-field {
    width: 100%;
  }

  .form__email {
    padding-top: 25px;

    & svg {
      right: 5px;
    }
  }

  .form__addition {
    padding-bottom: 45px;
  }

  .form__addition-title {
    width: 14%;
    margin-right: 14px;
    overflow: hidden;
  }

  .form__button-wrapper {
    padding-left: 225px;
    padding-right: 225px;
  }

  .form__button {
    width: 34%;
  }
}
