@import "../variables";

.page-main {
  &__header {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: $black;
    background-color: $light-grey;
    margin-top: 0;
    margin-bottom: 0;
    padding: 70px 30px;
  }
}
