.handmade-goods {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat #fafafa;
  height: 373px;
  padding-top: 70px;

  &__title {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-align: center;
  }
}
