@import "../variables";

.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 260px;
  color: $minor-text;
  border: 2px solid $minor-text;
  padding: 15px 30px;
}
