@import "../variables";

.products {
  padding: 30px;
  overflow: hidden; //для IE
}

.products__item:hover,
.products__item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products__item:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: $tablet-width) {
  .products {
    padding: 70px 50px 55px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 130px 50px 35px 50px;
  }
}
