@import "../variables";

.contacts {
  padding-top: 35px;
  padding-bottom: 10px;
}

.contacts__header {
  margin: 0 30px 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $main-text;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px 35px;
  line-height: 30px;
}

.contacts__key {
  text-transform: lowercase;
  width: 30%;
}

.contacts__value {
  width: 60%;
  margin-left: 0;
}

.contacts__value:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__value a {
  width: 180px;
  padding-bottom: 6px;
  text-decoration: none;
  color: $minor-text;
  border-bottom: 1px solid #62d1ba;
}

.contacts__value a:hover,
.contacts__value a:focus {
  color: #46c1ae;
}

.contacts__value a:active {
  opacity: 0.3;
}

.contacts__map-wrapper {
  position: relative;
}

.contacts__ymap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 457px;
}

.contacts__map {
  display: block;
  margin-bottom: 37px;
}

.contacts__map img {
  width: 100%;
  height: 457px;
}

.contacts__write {
  display: block;
  margin: 0 30px 28px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .contacts__header {
    position: relative;
    margin-right: 50px;
    margin-left: 45px;
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 0;
      background: 0 0 url("../img/icon-flag.svg") no-repeat;
      width: 50px;
      height: 80px;
    }
  }

  .contacts__content {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 55px;
    font-size: 17px;
  }

  .contacts__key {
    width: 12%;
  }

  .contacts__value {
    width: 37%;
  }

  .contacts__value a {
    padding-bottom: 3px;
  }

  .contacts__map-wrapper {
    margin-bottom: 50px;
  }

  .contacts__write {
    width: 226px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 170px;
    padding-bottom: 75px;
  }

  .contacts__header {
    width: 40%;
    margin-top: 80px;
    margin-left: 0;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;

    &::after {
      top: -10px;
      left: -107px;
    }
  }

  .contacts__content {
    margin-left: 5px;
    margin-bottom: 78px;
    width: 40%;
  }

  .contacts__key {
    width: 22%;
  }

  .contacts__value {
    width: 70%;
  }

  .contacts__map-wrapper {
    position: absolute;
    top: 70px;
    right: 0;
    width: 50%;
  }

  .contacts__write {
    width: 26%;
    margin-left: 5px;
  }
}
