@import "../variables";

.goods-kind {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.goods-kind__item {
  display: block;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $basic-background;
  background-color: $accent-color;
  position: relative;
  width: 100%;
  height: 105px;
  padding: 25px 30px;


  &--interior::after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 25%;
    right: 30px;
    background: url("../../img/icon-interior.svg") no-repeat;
    min-width: 41px;
    min-height: 63px;
    opacity: 0.3;
  }

  &--toys {
    background-color: #56c3b2;

    &::after {
      position: absolute;
      content: "";
      top: 25%;
      right: 30px;
      background: url("../../img/icon-toy.svg") no-repeat;
      min-width: 60px;
      min-height: 60px;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .goods-kind {
    flex-direction: row;
  }

  .goods-kind li {
    width: 50%;
  }

  .goods-kind__item {
    font-size: 20px;
    line-height: 30px;
    min-height: 118px;
  }
}
