@import "fonts/fonts";
@import "button/button";
@import "choice/choice";
@import "information/information";
@import "main-nav/main-nav";
@import "modal/modal";
@import "page-footer/page-footer";
@import "page-header/page-header";
@import "page-title/page-title";
@import "product/product";
@import "goods-kind/goods-kind";
@import "handmade-goods/handmade-goods";
@import "products/products";
@import "socials/socials";
@import "weekly-product/weekly-product";

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background: #ffffff;
  color: #444444;
  font-size: 15px;
  line-height: 24px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
