@import "../variables";

.page-header {
  position: relative;
  display: flex;
  border-bottom: 1px solid $border-color;
}

@media (min-width: $mobile-width) {
  .page-header {
    flex-direction: column;
  }

  .page-header__logo {
    align-self: center;
  }

  //.page-header__logo svg {
  //  width: 100%;
  //  height: auto;
  //}

  .page-header__toggle {
    display: block;
    position: absolute;
    top: 23px;
    right: 25px;
    min-height: 36px;
    border: none;
    background-color: $basic-background;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 90px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-header__logo {
    align-self: flex-start;
    padding-top: 7px;
    margin-left: -22px;
  }


  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: center;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
  }
}
