@import "../variables";

.page-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 23px;
  border-bottom: 1px solid $border-color;
}

.page-header__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.page-header__logo img {
  width: 100%;
  height: auto;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__toggle {
  display: block;
  position: absolute;
  top: 23px;
  right: 25px;
  min-height: 36px;
  border: none;
  background-color: $basic-background;
  cursor: pointer;

  &--open .page-header__open {
    display: none;
  }

  &--close .page-header__close {
    display: none;
  }

  &--close + .main-nav {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    padding-top: 0;
    border-bottom: none;
  }

  .page-header__logo {
    position: absolute;
    left: 50px;
    top: 0;
    margin-top: 22px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    justify-content: space-between;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -77px;
    z-index: 2;
    margin-top: 8px;
    margin-bottom: 0;
  }
}
