.information {
  padding: 30px;

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    &-item {
      font-size: 17px;
      line-height: 20px;
      font-weight: 700;
      color: #000000;
      fill: #63d1bb;
      padding-top: 5px;
      padding-bottom: 5px;

      span {
        display: block;
      }
    }
  }
}
