@import "../variables";

.information {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
}

.information__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $main-text;
  margin-top: 0;
  margin-bottom: 25px;
}

.information__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.information__list-item {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $main-text;
  fill: $accent-color;
  padding-top: 0;
  padding-bottom: 0;
}

.information__list-item-text {
  display: block;
  margin-top: 22px;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .information {
    padding-top: 52px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .information__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .information__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 485px;
  }

  .information__list-item {
    font-size: 20px;
    line-height: 22px;
    width: 310px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .information__list-item-text {
    margin-top: 15px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    padding-top: 60px;
    padding-left: 225px;
    padding-right: 225px;
    overflow: hidden; //для IE11
  }

  .information__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 50px;
  }

  .information__list-item {
    font-size: 20px;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .information__list-item-text {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}
