@import "../variables";

.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  background-color: $complementary-background;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  fill: $accent-color;
}

.page-footer__logo:active {
  opacity: 0.3;
  pointer-events: none;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.page-footer__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $main-text;
  margin-right: 25px;
}

.page-footer__text:active {
  opacity: 0.3;
}

.page-footer__link:hover path,
.page-footer__link:focus path {
  fill: #46c1ae;
}

.page-footer__link:active path {
  opacity: 0.3;
}

@media (min-width: $mobile-width) {
  .page-footer__logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    min-height: 143px;
    padding-left: 50px;
    padding-right: 43px;
  }

  .page-footer__logo {
    display: block;
    align-self: center;
    fill: $main-text;
  }

  .page-footer__socials {
    width: 50%;
  }

  .page-footer__copyright {
    padding: 0;
  }

  .page-footer__icon {
    vertical-align: middle;
  }
}
