@import "../variables";

.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  background-color: $light-grey;

  &__logo {
    display: none;
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__text {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    color: $black;
    margin-right: 25px;
  }

  &__icon {
    width: 27px;
    height: 34px;
    vertical-align: middle;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

    &__logo {
      display: block;
      align-self: center;
      fill: $black;
    }

    &__copyright {
      padding: 0;
    }
  }
}
