@import "../variables";

.product {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border: 1px solid $border-color;

  &__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    width: 100%;
    margin: 30px 28px 5px;
  }

  &__image {
    order: -1;
    margin: 0 auto;
  }

  &__size {
    font-size: 13px;
    line-height: 30px;
    text-align: left;
    width: 100%;
    padding-bottom: 38px;
    margin: 0 28px;
    border-bottom: 1px solid $border-color;
  }

  &__price {
    font-weight: 700;
    color: $black;
    margin-bottom: 28px;
    margin-right: 27px;
    margin-left: 27px;
  }

  &__cart {
    background: 0 0 url("../../img/icon-cart.svg") no-repeat;
    width: 21px;
    height: 19px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 5px;
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    flex-direction: column;
    height: 334px;
    padding-right: 32px;
    margin-bottom: 55px;

    &__title {
      font-size: 20px;
      width: 50%;
      margin-top: 28px;
      margin-right: 0;
      margin-left: 0;
    }

    &__image {
      width: 332px;
      height: 332px;
      margin-right: 28px;
    }

    &__size {
      flex-grow: 1;
      font-size: 15px;
      line-height: 30px;
      width: 40%;
      margin-left: 0;
      margin-right: 0;
    }

    &__price {
      font-size: 17px;
      line-height: 24px;
      margin: 25px 0 23px;
    }

    &__cart {
      position: absolute;
      bottom: 25px;
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 30%;
    height: auto;
    padding-right: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &__title {
      width: 100%;
      margin-top: 28px;
      padding-right: 27px;
      padding-left: 27px;
    }

    &__image {
      width: 100%;
      height: 463px;
      margin-right: 0;
      margin-left: 0;
    }

    &__size {
      width: 82%;
      margin-left: 27px;
      padding-right: 27px;
      padding-bottom: 12px;
    }

    &__price {
      font-size: 17px;
      line-height: 24px;
      margin: 25px 27px 23px;
    }

    &__cart {
      position: absolute;
      bottom: 25px;
      right: 0;
    }
  }
}
