.product {
  border-bottom: 2px solid #ececec;

  &__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  &__size {
    font-size: 13px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ececec;
  }

  &__price {
    font-weight: 700;
    color: #000000;
  }

  &__cart {
    text-decoration: none;
    color: #000000;
    background: 100% 0 url("../../img/icon-cart.svg") no-repeat;
    min-width: 21px;
    min-height: 19px;
    opacity: 0.2;
  }
}
