@import "../variables";

.product {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $border-color;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: 100%;
  margin: 20px 28px 5px;
}

.product__title a {
  color: $main-text;
  text-decoration: none;
}

.product__title:hover,
.product__title:focus {
  opacity: 0.6;
}

.product__title:active {
  opacity: 0.3;
}

.product__image {
  order: -1;
  margin: 0 auto;
}

.product__image img {
  width: 100%;
  height: auto;
}

.product__size {
  font-size: 13px;
  line-height: 30px;
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
  margin: 0 28px;
  border-bottom: 1px solid $border-color;
}

.product__price {
  font-weight: 700;
  color: $main-text;
  margin: 20px 27px 28px;
}

.product__cart {
  width: 21px;
  height: 19px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: 25px;
  opacity: 0.2;
}

.product__cart:hover,
.product__cart:focus {
  opacity: 1;
}

.product__cart:hover svg,
.product__cart:focus svg {
  fill: $accent-color;
}

.product__cart:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    flex-direction: column;
    height: 334px;
    padding-right: 32px;

    &:not(:last-child) {
      margin-bottom: 55px;
    }
  }

  .product__title {
    font-size: 20px;
    width: 50%;
    margin-top: 28px;
    margin-right: 0;
    margin-left: 0;
  }

  .product__image {
    margin-right: 28px;
  }

  .product__size {
    flex-grow: 1;
    font-size: 15px;
    line-height: 30px;
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }

  .product__price {
    font-size: 17px;
    line-height: 24px;
    margin: 25px 0 23px;
  }

  .product__cart {
    position: absolute;
    bottom: 25px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 30%;
    min-height: 660px;
    padding-right: 0;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  .product__title {
    width: 100%;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 27px;
  }

  .product__image {
    margin-right: 0;
    margin-left: 0;
  }

  .product__image img {
    max-height: 463px;
  }

  .product__size {
    flex-grow: 0;
    width: 82%;
    margin-left: 27px;
    padding-right: 27px;
    padding-bottom: 38px;

    &--double-title {
      padding-bottom: 14px;
    }
  }

  .product__price {
    font-size: 17px;
    line-height: 24px;
    margin: 25px 27px 23px;
  }

  .product__cart {
    position: absolute;
    bottom: 25px;
    right: 0;
  }
}
