@import "../variables";

.main-nav {
  display: flex;
}

.main-nav__services-item,
.main-nav__actions-item,
.main-nav__offers-item,
.main-nav__delivery-item {
  color: $main-text;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.main-nav__actions-item svg {
  opacity: 0.2;
}

.main-nav__actions-item--search svg {
  margin-top: 4px;
  margin-left: -45px;
  margin-right: 27px;
}

.main-nav__actions-item--cart svg {
  margin-top: 3px;
  margin-left: -45px;
  margin-right: 25px;
}

.main-nav__services-item:hover,
.main-nav__services-item:focus,
.main-nav__actions-item:hover,
.main-nav__actions-item:focus,
.main-nav__offers-item:hover,
.main-nav__offers-item:focus,
.main-nav__delivery-item:hover,
.main-nav__delivery-item:focus {
  opacity: 0.6;
}

.main-nav__actions-item:hover svg,
.main-nav__actions-item:focus svg {
  opacity: 1;
  fill: $accent-color;
}

.main-nav__services-item:active,
.main-nav__actions-item:active,
.main-nav__offers-item:active,
.main-nav__delivery-item:active {
  opacity: 0.3;
}

@media (min-width: $mobile-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
  }

  .main-nav__services-item,
  .main-nav__actions-item {
    display: flex;
    padding-top: 28px;
    padding-left: 75px;
    padding-bottom: 26px;
    border-top: 1px solid $border-color;
  }

  .main-nav__offers,
  .main-nav__delivery {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__services {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 15px;
    padding-left: 50px;
    z-index: 2;
  }

  .main-nav__services-item {
    font-size: 15px;
    padding-left: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: none;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  .main-nav__actions {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
  }

  .main-nav__actions-item {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: none;

    &--search {
      display: block;
      width: 85px;
      position: relative;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 0;

      & svg {
        margin-left: 33px;
        margin-right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: -3px;
        right: 85px;
        width: 1px;
        min-height: 95px;
        border-right: 1px solid $complementary-background;
      }
    }

    &--cart {
      position: relative;
      min-width: 315px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 78px;
      font-size: 17px;

      &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 1px;
        min-height: 95px;
        border-right: 1px solid $complementary-background;
      }
    }
  }

  .main-nav__delivery {
    display: block;
    position: absolute;
    top: 100%;
    right: 50px;
    z-index: 2;
  }

  .main-nav__delivery-item {
    display: block;
    font-size: 15px;
    font-weight: 400;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__services {
    position: static;
    padding-left: 0;
  }

  .main-nav__services-item {
    position: relative;
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 30px;

    &:not(:first-child) {
      padding-left: 35px;

      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 1px;
        min-height: 90px;
        border-right: 1px solid $complementary-background;
      }
    }
  }

  .main-nav__actions {
    position: static;
  }

  .main-nav__actions-item--search {
    &::after {
      top: -3px;
    }
  }

  .main-nav__actions-item--cart {
    min-width: 265px;

    &::after {
      top: -3px;
    }
  }

  .main-nav__offers {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    margin-left: 50px;
    z-index: 2;
  }

  .main-nav__offers-item {
    font-size: 15px;
    padding-top: 15px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}
