@import "../variables";

.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__services-item,
.main-nav__actions-item {
  display: flex;
  padding-top: 28px;
  padding-left: 75px;
  padding-bottom: 26px;
  border-top: 1px solid $border-color;
}

.main-nav__services-item,
.main-nav__actions-item,
.main-nav__offers-item,
.main-nav__delivery-item {
  color: $main-text;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.main-nav__actions-item svg {
  opacity: 0.2;
}

.main-nav__actions-item--search svg {
  margin-top: 4px;
  margin-left: -45px;
  margin-right: 27px;
}

.main-nav__actions-item--cart svg {
  margin-top: 3px;
  margin-left: -45px;
  margin-right: 25px;
}

.main-nav__services-item:hover,
.main-nav__services-item:focus,
.main-nav__actions-item:hover,
.main-nav__actions-item:focus,
.main-nav__offers-item:hover,
.main-nav__offers-item:focus,
.main-nav__delivery-item:hover,
.main-nav__delivery-item:focus {
  opacity: 0.6;
}

.main-nav__actions-item:hover svg,
.main-nav__actions-item:focus svg {
  opacity: 1;
  fill: $accent-color;
}

.main-nav__services-item:active,
.main-nav__actions-item:active,
.main-nav__offers-item:active,
.main-nav__delivery-item:active {
  opacity: 0.3;
}

.main-nav__offers,
.main-nav__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden; //IE
  }

  .main-nav__services {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    z-index: 2;
    padding-left: 50px;
    background-color: #fafafa;
  }

  .main-nav__services-item {
    width: 45%;
    padding: 16px 25px 16px 0;
    font-size: 15px;
    border-top: none;
  }

  .main-nav__actions {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    padding-right: 50px;
    padding-left: 217px;
    border-bottom: 1px solid $border-color;
  }

  .main-nav__actions-item {
    width: 100%;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: none;

    &--search {
      position: relative;
      display: flex;
      width: 17%;
      font-size: 0;
      border-left: 1px solid $complementary-background;

      & svg {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &--cart {
      position: relative;
      width: 53%;
      font-size: 17px;
      border-left: 1px solid $complementary-background;

      & svg {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .main-nav__delivery {
    display: block;
    order: 3;
    width: 45%;
    z-index: 2;
    padding-right: 50px;
    background-color: #fafafa;
  }

  .main-nav__delivery-item {
    display: block;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .main-nav__services--inner-page,
  .main-nav__delivery--inner-page {
    background-color: $complementary-background;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__services {
    order: 1;
    width: 42%;
    background-color: transparent;
  }

  .main-nav__services-item {
    width: 42%;
    font-size: 17px;
    padding: 30px 0 30px 0;

    &:not(:last-child) {
      border-right: 1px solid $complementary-background;
      margin-right: 35px;
    }
  }

  .main-nav__actions {
    order: 2;
    width: 43%;
    margin-top: 0;
    padding-right: 50px;
    padding-left: 0;
    border-bottom: none;
  }

  .main-nav__actions-item {
    &--search {
      width: 21%;
    }

    &--cart {
      width: 60%;
    }
  }

  .main-nav__offers {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    z-index: 2;
    padding-left: 50px;
    border-top: 1px solid $border-color;
    background-color: #fafafa;
  }

  .main-nav__offers-item {
    font-size: 15px;
    padding-top: 18px;
    width: 42%;
  }

  .main-nav__delivery {
    width: 50%;
    border-top: 1px solid $border-color;
    background-color: #fafafa;
  }

  .main-nav__delivery-item {
    width: 50%;
    margin-left: auto;
  }

  .main-nav__offers--inner-page,
  .main-nav__delivery--inner-page {
    background-color: $complementary-background;
  }
}
