@import "../variables";

.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $main-text;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-top: -40px;
  z-index: 5;
}

.main-nav__toggle {
  align-self: flex-end;
  border: none;
  background-color: $basic-background;
  min-height: 36px;
  margin-bottom: 20px;
  margin-right: 25px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.main-nav__item {
  position: relative;
  padding-top: 28px;
  padding-left: 75px;
  padding-bottom: 25px;
  border-top: 1px solid $border-color;

  a {
    color: $main-text;
    text-decoration: none;
  }

  &--search::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    background: url("../../img/icon-search.svg") no-repeat;
    min-width: 18px;
    min-height: 18px;
    opacity: 0.2;
  }

  &--cart::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    background: url("../../img/icon-cart.svg") no-repeat;
    min-width: 21px;
    min-height: 19px;
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    margin-top: -90px;
    width: 100%;
  }

  .main-nav__wrapper {
    width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;

    &::after {
      content: "";
      width: 100%;
      order: 3;
    }
  }

  .main-nav__item {
    border-top: none;
    padding-left: 0;
    text-align: right;

    &:nth-child(1) {
      order: 4;
      margin-right: 35px;
    }

    &:nth-child(2) {
      order: 5;
      margin-right: auto;
    }

    &--search {
      order: 1;
      margin-left: auto;
      min-width: 82px;
      font-size: 0;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        min-height: 88px;
        border-right: 1px solid $complementary-background;
      }
    }

    &--cart {
      order: 2;
      min-width: 251px;
      font-size: 17px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        min-height: 88px;
        border-right: 1px solid $complementary-background;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-top: -103px;
  }

  .main-nav__wrapper {
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    &::after {
      display: none;
    }
  }

  .main-nav__item {
    padding-top: 47px;
    padding-bottom: 33px;

    &:nth-child(1) {
      order: 1;
      font-size: 17px;
      margin-right: 0;
      min-width: 184px;
      text-align: left;

      &::after {
        content: "";
        position: absolute;
        top: 17px;
        right: 0;
        width: 1px;
        min-height: 88px;
        border-right: 1px solid $complementary-background;
      }
    }

    &:nth-child(2) {
      order: 2;
      font-size: 17px;
      margin-right: 0;
      min-width: 190px;
    }

    &--search {
      order: 4;
      margin-left: auto;

      &::before {
        top: 50%;
      }

      &::after {
        top: 17px;
        left: 0;
      }
    }

    &--cart {
      order: 5;
      margin-left: 0;
      min-width: 266px;

      &::before {
        top: 50%;
      }

      &::after {
        top: 17px;
        left: 0;
      }
    }
  }
}
